<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
    <table>
        <tr>
            <th>Name</th>
            <td><input type="text" name="t"></td>
        </tr>
        <tr>
            <th>Contact</th>
            <td><input type="text" name="t1"></td>
        </tr>
        <tr>
            <th>Email</th>
            <td><input type="text" name="t2"></td>
        </tr>
        <tr>
            <th>Password</th>
            <td><input type="password" name="t3"></td>
        </tr>
        <tr>
            <th>Confirm Password</th>
            <td><input type="password" name="t4"></td>
        </tr>
        <tr>

            <td colspan="2"><input type="submit" value="REGISTER"></td>
        </tr>
    </table>
</form>
</body>
</html>